<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363508226177-vl08iop3a201knjvei5e9o3m4o8v1m0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363508226177-vl08iop3a201knjvei5e9o3m4o8v1m0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDZVpk_uMKG3ioC4w-cPay9P_6e6WhJvdA</string>
	<key>GCM_SENDER_ID</key>
	<string>363508226177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.books</string>
	<key>PROJECT_ID</key>
	<string>bookstore-5ab21</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-5ab21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363508226177:ios:2e3f95e8a23c05ae41d580</string>
</dict>
</plist>